In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

wine_data="winemag-data_first150k.csv"
wine_df = pd.read_csv(wine_data)
wine_df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [41]:
wine_df.count()

Unnamed: 0     150930
country        150925
description    150930
designation    105195
points         150930
price          137235
province       150925
region_1       125870
region_2        60953
variety        150930
winery         150930
dtype: int64

In [42]:
wine_df["country"].value_counts()

US                        62397
Italy                     23478
France                    21098
Spain                      8268
Chile                      5816
Argentina                  5631
Portugal                   5322
Australia                  4957
New Zealand                3320
Austria                    3057
Germany                    2452
South Africa               2258
Greece                      884
Israel                      630
Hungary                     231
Canada                      196
Romania                     139
Slovenia                     94
Uruguay                      92
Croatia                      89
Bulgaria                     77
Moldova                      71
Mexico                       63
Turkey                       52
Georgia                      43
Lebanon                      37
Cyprus                       31
Brazil                       25
Macedonia                    16
Serbia                       14
Morocco                      12
England                       9
Luxembourg                    9
Lithuania                     8
India                         8
Czech Republic                6
Ukraine                       5
Bosnia and Herzegovina        4
Switzerland                   4
South Korea                   4
Slovakia                      3
Egypt                         3
China                         3
Tunisia                       2
Montenegro                    2
Albania                       2
Japan                         2
US-France                     1
Name: country, dtype: int64

In [43]:
wine2_df=wine_df.dropna()
# wine2_df.count()
# wine2_df.head()
wine2_df["country"].value_counts()

US    39241
Name: country, dtype: int64

In [48]:
Wine_Mean_Price=wine_df.groupby(["country","province"])["price"].mean()
Wine_Mean_Price

country    province
Albania    Mirditë                          20.000000
Argentina  Mendoza Province                 20.858266
           Other                            20.456300
Australia  Australia Other                  11.693285
           New South Wales                  22.049180
           Queensland                       13.000000
           South Australia                  35.489679
           Tasmania                         27.200000
           Victoria                         37.098522
           Western Australia                25.519507
Austria    Austria                          27.176471
           Burgenland                       31.202160
           Carnuntum                        26.872727
           Donauland                        26.000000
           Eisenberg                        24.666667
           Kamptal                          36.468504
           Kremstal                         26.777778
           Langenlois                       17.000000
           Leithaberg                       32.600000
           Mittelburgenland                 30.650000
           Neusiedlersee                    34.575758
           Neusiedlersee-Hügelland          30.000000
           Niederösterreich                 21.942211
           South Styria                     27.333333
           Steiermark                       20.000000
           Styria                           24.200000
           Südoststeiermark                 27.309524
           Südsteiermark                    32.787879
           Thermenregion                    34.622449
           Traisental                       31.888889
                                              ...
US         Idaho                            20.294118
           Iowa                             13.750000
           Kentucky                         30.750000
           Massachusetts                    21.900000
           Michigan                         22.000000
           Missouri                         20.633333
           Nevada                           75.000000
           New Jersey                       19.541667
           New Mexico                       20.884211
           New York                         20.780538
           North Carolina                   20.350000
           Ohio                             14.676471
           Oregon                           34.078101
           Pennsylvania                     24.120000
           Texas                            17.902439
           Vermont                          35.000000
           Virginia                         25.523622
           Washington                       29.393123
           Washington-Oregon                18.000000
US-France  Santa Barbara County-Condrieu    50.000000
Ukraine    Ukraine                          13.000000
Uruguay    Atlantida                        48.750000
           Canelones                        18.315789
           Colonia                          26.500000
           El Colorado                      35.000000
           Juanico                          29.333333
           Montevideo                       40.333333
           Progreso                         30.800000
           San Jose                         26.400000
           Uruguay                          20.388889
Name: price, Length: 455, dtype: float64